body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
}

.prototipo8{
    width: 1440px;
    height: 926px;
    border: solid black;border: solid black;
}