body {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    height: 100vh;
}

.prototipo3 {
    width: 1440px;
    height: 1110px;
    box-shadow: 5px 10px 150px -20px rgba(49, 49, 49, 0.75);
    padding: 30px;
    padding-top: 45px;
    margin-top: 70px;
}

.texto {
    gap: 75px;
    display: flex;
    margin-bottom: 50px;
}

.subtitulo {
    font-size: 88px;
    margin-top: 5px;
    color: #252525 80%;
}

.parrafo {
    width: 40%;
    font-size: 26px;
    color: rgb(85, 84, 84);
    line-height: 80px;
}


.boton {
    border: none;
    background-color: #252525;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.imagen {
    width: 100%;
}