body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.carta-2 {
    margin-top: 70px;
    max-width: 830px;
    height: 730px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.carta-2__primera-parte {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.carta-2__primera-parte div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
}

.carta-2__primera-parte h2 {
    font-size: 2rem;
    color: #333;
    line-height: 50px;
    margin-bottom: 0;
}

.carta-2__primera-parte button {
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px 25px ;
}

.carta-2__primera-parte p {
    color: #555;
    line-height: 22px;
}

.carta-2__primera-parte img {
    height: 300px;
}

.img2 {
    margin-top: 100px;
}

.carta-2__segunda-parte {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 60px;
}

.carta-2 img {
    border-radius: 10px;
}

.carta-2__numero {
    color: #bbb;
    font-size: 25px;
    font-weight: 500;
}