body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Poppins';
}

.prototipo10 {
    width: 1440px;
    height: 926px;
    background-color: #2F2F2F;
    display: flex;
    align-items: center;
    border: solid black;
}

.texto{
    width: 270px;
    padding-left: 130px;
    margin-right: 250px;
}

.rosa,.azul,.verde{
    font-size: 72px;
    line-height: 100px;
    margin: 10px;
}

.rosa{
    color: pink;
}

.azul{
    color: rgba(66, 215, 252, 0.658);
}

.verde{
    color: rgb(127, 251, 255);
}
.parrafo {
    color: #ffff;
    line-height: 35px;
    font-size: 24px;
    width: 450px;
}

.boton {
    font-size: 24px;
    background-color: #ffff;
    color: #232323;
    padding: 24px 48px;
    border-radius: 36px;
    cursor: pointer;
}

img {
    width: 172px;
    height: 192px;
    border-radius: 40px;
}

.galeria1{
    gap: 15px;
    display: flex;
    margin-bottom: 8px;
}
.galeria2{
    gap: 15px;
    display: flex;
    margin-bottom: 8px;
}
.galeria3{
    gap: 15px;
    display: flex;
    margin-bottom: 8px;
}
.galeria4{
    gap: 15px;
    display: flex;
    margin-bottom: 8px;
}