body {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    box-sizing: border-box;
    flex-direction: column;
    padding: 20px;
}

.prototipo11 {
    width: 800px;
    height: 500px;
    box-shadow: 5px 10px 150px -20px rgba(49, 49, 49, 0.75);
    display: flex;
    padding: 45px;
    flex-direction: column;
    padding-top: 60px;
    margin-top: 125px;
}

.titulos {
    display: flex;
    justify-content: space-between;
}

.parrafo {
    width: 330px;
}

.parrafo h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

.parrafo p {
    color: #252525CC;
    font-size: 14px;
    line-height: 20px;
}

.parrafo button {
    border: none;
    color: white;
    background-color: #252525;
    padding: 10px 30px;
    border-radius: 50px;
    margin-top: 10px;
}
.imagenes {
    position: relative;
}

.imagenes img {
    width: 200px;
    height: 230px;
    
}

.imagen1 {
    margin-bottom: 80px;
}

.imagen2 {
    margin-left: -60px;
}

.rectangulo {
    background-color: #252525;
    padding: 25px 45px;
    color: #FFFFFFCC;
    border-radius: 25px;
    padding-top: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.rectangulo img {
    width: 15px;
}

.rectangulo h3 {
    margin-top: 5px;
}

.rectangulo p {
    font-size: 16px;
}

.logo {
    width: 200px;
}

