body {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-family: sans-serif;
}

.carta1 {
    align-items: center;
    margin-top: 50px;
    max-width: 1000px;
    height: 900px;
    box-shadow: 3px 7px 81px -10px rgba(49, 49, 49, 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carta1 h1 {
    width: 65%;
    line-height: 60px;
    font-size: 64px;
    margin-bottom: 5px;
    color: black;
}

.carta1 p {
    width: 47%;
    color: #000a;
    line-height: 30px;
    margin-top: 0px;
    font-size: 20px;
    margin-top: 15px;
}

.carta1 button {
    padding: 14px 40px;
    border: none;
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    color: white;
    font-weight: 100;
}

.carta1 div {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 45px;
}

.carta1 img {
    width: 220px;
    border-radius: 10px;
}