body {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
    justify-content: center;
    height: 100vh;
}

.carta1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 1440px;
    height: 1139px;
    box-shadow: 5px 10px 150px -20px rgba(49, 49, 49, 0.75);
}

.titulo {
    font-size: 64px;
    width: 50%;
    line-height: 80px;
    margin-bottom: 5px;
    color: #252525;
}

.parrafo {
    font-size: 26px;
    width: 43%;
    color:#252525CC;
    line-height: 35px;
    margin-top: 0px;
   
}

.boton {
    font-size: 20px;
    padding: 18px 48px;
    border: none;
    background-color: #252525;
    border-radius: 20px;
    color: #ffff;
    cursor: pointer;
    margin-bottom: 70px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 12px; 
}
.galeria2 {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

.carta1 img {
    width: 320px;
    border-radius: 10px;
}